@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212e36b2;
}

.dark {
  --background: #212e36b2;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.darkbutton {
  background-color: #4a9b7a;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 20px;
  border-radius: 12px;
}
